<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Typing Class</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="main-container">
            <div class="centered">
                <h1>Typing Class</h1>
            </div>
            <div class="centered">
                <div id="instruction-box">
                    <h2>Instructions:  Click on the Start button, then try to type the text that appears, without making any errors, before the timer reaches zero.
                        <br />If you succeed, the box will become <span class="green-text">green</span>. <br />If you run out of time before you can get the texts to match exactly, the box will become <span class="red-text">red</span>. <br /><br />But here's the catch: The keyboard is "shifted". You will have to strike the "q" key to get the letter "a", etc. The Enter key, shift key and backspace keys are unshifted. The number keys are moved down to the bottom row. The hyphen is the left arrow. Other keys are disabled.
                    </h2>
                    <p class="copyright">The jokes that appear on this site come from the <a href="https://jokeapi.dev/">jokes API</a> and is used under the <a href="https://sv443.net/LICENSE">MIT License</a>.</p>
                </div>
            </div>
            <div class="the-text">
                <h3>Text to be typed:  
                </h3>
                <div>
                    <p class="random-text" id="goal-text"><%- passedObject.textFromIndex %></p>
                </div>
            </div>
            <div id="timing-box" class  = "centered">
                <p>Time remaining:</p>
                <p class="count-down"></p>
                <form action="/typing", method="get">
                    <button type="submit", id="start-button">Start</button>
                </form>
            </div>
            <h3 class="centered">Your typing will appear in the box below.</h3>
            <div class="the-text">
                <div>
                    <p class="random-text" id="modify-text"></p>
                </div>
            </div>
        </div>
        <div class="space-on-bottom"></div>
        <% if (passedObject.runningCode) { %>
            <script>
                document.getElementById("start-button").focus();
            </script>
        <% } %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script> 
            var isTyping = <%= passedObject.runningCode %> ;
        </script>
        <script src="keyshift.js"></script>
    </body>
</html>
